<%- include ('../partials/header') %>

<h2><%=exercise.exerciseName %></h2>
<table>
    <thead>
        <tr>
            <td>Date</td>
            <form action="/journals/<%=exercise._id%>?_method=DELETE" method="post"><input type="submit" value="Delete Exercise"></form><br />
<% if (exercise.weighted === true && exercise.measurementType === "Reps") { %>
            <td>Weight</td>
            <td>Reps</td>
        </tr>
    </thead>
    <tbody>
        <% exercise.workouts.forEach(function(w, idx) { %>
            <tr>
                <td><%= w.workoutDate %></td>
                <td><%= w.weight %>lbs.</td>
                <td><%= w.reps %></td>
                    <td><form action="/exercises/<%=idx%>?_method=DELETE"><button type="submit">Delete Entry</button></form></td>
            </tr>
            <% }); %>
           
<% } else if (exercise.weighted === true && exercise.measurementType === "Duration") { %>
            <td>Weight</td>
            <td>Duration</td>
        </tr>
    </thead>
    <tbody>
        <% exercise.workouts.forEach(function(w, idx) { %>
            <tr>
                <td><%= w.workoutDate %></td>
                <td><%= w.weight %>lbs.</td>
                <td><%= w.duration %>seconds</td>
                    <td><form action="/"><button type="submit">Delete Entry</button></form></td>
            </tr>
            <% }); %>

<% } else if (exercise.weighted === true && exercise.measurementType === "Distance") { %>
            <td>Weight</td>
            <td>Distance</td>
        </tr>
    </thead>
    <tbody>
        <% exercise.workouts.forEach(function(w) { %>
            <tr>
                <td><%= w.workoutDate %></td>
                <td><%= w.weight %>lbs.</td>
                <td><%= w.distance %>miles</td>
                    <td><form action=""><button type="submit">Delete Entry</button></form></td>
            </tr>
            <% }); %>

<% } else if (exercise.weighted === false && exercise.measurementType === "Reps") { %>
            <td>Reps</td>
        </tr>
    </thead>
    <tbody>
        <% exercise.workouts.forEach(function(w) { %>
            <tr>
                <td><%= w.workoutDate %></td>
                <td><%= w.reps %></td>
                    <td><form action=""><button type="submit">Delete Entry</button></form></td>
            </tr>
            <% }); %>

<% } else if (exercise.weighted === false && exercise.measurementType === "Distance") { %>
                <td>Distance</td>
            </tr>
        </thead>
        <tbody>
            <% exercise.workouts.forEach(function(w) { %>
                <tr>
                    <td><%= w.workoutDate %></td>
                    <td><%= w.distance %>miles</td>
                        <td><form action=""><button type="submit">Delete Entry</button></form></td>
                </tr>
                <% }); %>
<% } else if (exercise.weighted === false && exercise.measurementType === "Duration") { %>
                <td>Reps</td>
            </tr>
        </thead>
        <tbody>
            <% exercise.workouts.forEach(function(w) { %>
                <tr>
                    <td><%= w.workoutDate %></td>
                    <td><%= w.duration %>seconds</td>
                        <td><form action=""><button type="submit">Delete Entry</button></form></td>
                </tr>
                <% }); %>
                <% }; %>
    </tbody>
</table>

<%- include ('../partials/footer') %>